body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    user-select: none;
}

::selection{
    background-color: #000;
    color: #fff;
}
a.light{
    color: #000;
}

a.dark{
    color: #fff;
}

a:hover{
    opacity: .7;
}

a:active{
    opacity: .5;
}

.rmstart input{
    height: 35px;
    font-size: 14px;
}

select{
    cursor: pointer;
    width: 210px;
}

input, select{
    height: 60px;
    background-color: #fff;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 24px;
}

input:hover, select:hover{
    background-color: #f0f0f0;
}

input:focus, select:focus{
    background-color: #f0f0f0;
    outline: #000 2px solid;
}

option{
    background-color: #fff;
    color: #000;
}

option:hover{
    background-color: #000;
    color: #fff;
}

button {
    height: 35px;
    background-color: #000;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
}

button:hover{
    background-color: #444;
}

button:active{
    background-color: #888;
}

button.two{
    background-color: #fff;
    color: #000;
}

button.two:hover{
    background-color: #f0f0f0;
}

button.two:active{
    background-color: #b8b8b8;
}



.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.upload-btn-wrapper:hover{
    opacity: .7;
}

.upload-btn-wrapper:active{
    opacity: .5;
}
  
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }



div.addwebsite{
    display: none;
}

div.addwebsite .place{
    height: 30px;
}

button.close{
    position: absolute;
    right: 0;
    z-index: 20;
}

div.back{
    background-color: #ffffffec;
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

div.startAni button.right{
    float: right;
}

div.startAni button svg{
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
}

div.startAni button.finish{
    height: 60px;
}

div.startAni, div.window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    vertical-align: middle;
}

.rmstart div.startAni{
    margin-top: 25px;
    position: relative;
    z-index: 1;
}

.rmstart div.startAni .upload-btn-wrapper button.btn{
    display: inline-block;
}

div.startAni .upload-btn-wrapper button.btn{
    display: none;
}

body.addRegister div.addwebsite, body.addRegister div.back{
    display: block;
}

div.startAni button.create, .rmstart div.back, .rmstart div.startAni button.finish, .rmstart div.startAni iframe, .rmstart div.startAni h1{
    display: none;
}


.rmstart div.startAni button.create{
    display: inline-block;
}

label input{
    display: none;
}

div.window{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 90vh;
    max-width: 90vw;
    padding: 10px;
}


/*darkmode*/
body:target{
    background-color: #000;
    color: #fff;
}

input:target{
    background-color: #000;
    color: #fff;
}

input:hover:target{
    background-color: #1f1f1f;
}

input:focus:target{
    background-color: #1f1f1f;
    outline: #fff 2px solid;
}

button:target{
    background-color: #fff;
    color: #000;
}

button.two:target{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

div.back:target{
    background-color: #000000d3;
}

a:target{
    color: #fff;
}